<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.shazly.piazyapp">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activity.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.RegiserActivity" />
        <activity
            android:name=".Activity.HomeActivity"
            android:label="Home" />
        <activity
            android:name=".Activity.CourseActivity"
            android:label="@string/title_activity_course"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activity.PostActivity" />
        <activity android:name=".Adapters.CoursesAdapter" />
        <activity android:name=".Adapters.PostsAdapter" />
        <activity android:name=".Activity.AddCourseActivity" />
        <activity android:name=".Activity.AddPostActivity" />
        <activity android:name=".fragment_course_sourceFiles"></activity>
    </application>

</manifest>